*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#fff;

    --gray-100:#efeff7;
    --gray-300:#a1a8b3;
    --gray-700:#323238;
    --gray-800:#29292e;
    --gray-850:#1f2729;

    --gray-900:#121214;

    --cyan-500:#61dafb;
    --yellow-500:#eba417;
}

body {
    background: var(--gray-900);
    color: var(--white);
}

@media(max-width:1080px){
    html {
        font-size:93.75%;
    }
}

@media(max-width:720px){
    html {
        font-size:87.5%;
    }
}


body, input, textarea, select, button {
    font: 400 1rem;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color:inherit;
    text-decoration: none;
}

